.jobs{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.card{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
}
.fa-user-tie{
    margin: auto auto 0.25rem 26rem;
}

.details-list{
    color:black;
    margin: 1rem;
    list-style: none;
    border: solid 1px silver;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: bold;
    background-color: white;

}
.company-jobs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.company-jobs-list > .details-list{
    width: 33.3%;
}

.apply{
    width: 15%;
    height: 30%;
    background-color: brown;
    color: white;
    border: solid whitesmoke 2px;
    padding: 0.25rem;
    font-weight: bold;
    border-radius: 10%;
    margin: auto auto auto 25rem;
}
.card > span{
    margin: 0.25rem;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
}